findingU/.vscode/*
findingU/export/*
findingU/work files/*
export/.build
export/flash/bin/findingU.swf
export/flash/haxe/ApplicationMain.hx
export/flash/haxe/ApplicationMain.hx
export/flash/haxe/ApplicationMain.hx
